/* Welcome */
.welcome {
    padding: 1rem 1rem 1.75rem 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #D99473;
    display: grid;
    justify-content: flex-start;
}

@media screen and (min-width: 400px) {

    .welcome {
        padding: 1rem;
        margin: 1rem;
        padding-bottom: 2.5rem;
    }
}