/*comment section*/

h5 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.comments {
    margin: 1rem 0 0 0;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #D1DFE8;
    border-radius: .5rem;
    height: 16rem;
    overflow: auto;
    overflow-x: hidden;
}

.comment {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: .5rem;
    background-color: rgb(245, 245, 245);
    margin: 1rem 0 1rem 0;
}

.comment-text {
    padding: 0;
    margin: 0;
    line-height: 1.15rem;
}

.comment-input-area {
    margin: 1rem 0 1rem 0;
}

.comment-input {
    padding-left: 1rem;
    height: 3rem;
    border-width: 2px;
    border-radius: .5rem;
    border-style: solid;
    border-color: #355C7D #355C7D #355C7D #355C7D;
}

.buttons {
    margin: 0 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-button, .submit-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 15px;
    background-color: #D99473;
    padding: .5rem 2.5rem .5rem 2.5rem;
    border-style: none;
    border-radius: .5rem;
    color: white;
}

.submit-comment {
    background-color: #355C7D;
}

/* Sroll bar */

    /* width */
    .comments::-webkit-scrollbar {
        width: .75rem;
    }

    /* Track */
    .comments::-webkit-scrollbar-track {
        background: #355C7D; 
        border-radius: 0 .5rem .5rem 0;
    }

    /* Handle */
    .comments::-webkit-scrollbar-thumb {
        background: #97AFBD;
        border-radius: 0 .5rem .5rem 0;
    }

    /* Handle on hover */
    .comments::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/* media */

@media screen and (min-width: 400px) {

    .comments {
        min-height: 450px;
    }
}
