/* Author of the Week */

.AofW {
    background-color: #355C7D;
    color: #e8e8e8;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-info {
    text-align: left;
}

.author-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.author-name {
    padding-bottom: 1rem;
}

.AofW-text {
    padding: 0rem;
    margin: 0 0 .25rem 0;
}

/* media */

@media screen and (min-width: 400px) {

    /* Author of the Week */

    .AofW {
        min-height: 350px;
        padding: 1rem;
        margin: 0 .5rem 1rem 1rem;
    }

    .AofW-text {
        font-size: 18px;
        line-height: 1.5rem;
    }

    .title {
        padding: 1rem 0 .25rem 1rem;
    }

    .img-fluid {
        min-width: 100%;
    }
}