/* Total Book List */

.add-book-item {
    padding: .25rem;
}

.add-book {
    margin-bottom: .5rem;
    background-color: white;
    border-style: solid;
    border-color: #D99473;
    border-width: 3px;
    border-radius: 1rem;
    transition: transform .2s;
}

.add-book-title {
    padding: 0 1rem 1rem 1rem;
}

.title {
    margin-bottom: .5rem;
}

.new-book-title{
    padding: 0 1rem 0 1rem;
    color: #2A3950;
}

.new-book-plus{
    padding: 0 1rem 0 0;
    color: #2A3950;
}

@media screen and (min-width: 400px) {

    /* Total Book List */
    .section {
        margin-bottom: 3rem;
    }
    .book-list {
        margin: 0 1rem 0 1rem;
    }
    .book-list-title {
        padding: 2rem 0 1rem 0;
        text-align: center;
    }
    .add-book {
        height: 3rem;
        border-radius: 3rem;
    }

    .new-book-title {
        padding-right: 3rem;
    } 
}

@media screen and (min-width: 600px) {
    .new-book-title {
        padding-right: 2rem;
    } 
}