.col-12 {
    padding: 0;
}

.col-md-5 {
    padding: 0;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: .125rem;
    padding-top: 2rem;
    
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #D1DFE8;
    font-family: 'Josefin Slab', serif;
}

.SignupForm, .login-form {
    padding: 2rem;
    color: #2A3950;
    padding-top: 2rem;
}

.signup-title {
    text-align: center;
    padding-bottom: 1rem;
    color: #355C7D;
}

.signup-subtitle {
    text-align: center;
    padding-bottom: 1rem;
    color: #355C7D;
}

.form-horizontal {
    display: grid;
}

.form-input {
    background-color: #D1DFE8;
    border-style: solid;
    border-color: #355C7D;
    border-radius: .5rem;
    font-family: 'Josefin Slab', serif;
    padding: .75rem 1rem .75rem 1rem;
    width: 100%
}

.username {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.login-button {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #355C7D;
    background-color: white;
    border-style: none;
    padding-left: 3rem;
    padding-right: 3rem;
}

.login-button:hover {
    background-color: #f0f4f7;
    color: #667790;
}